li {
    list-style: none;
}
body {
    display:flex;
    flex-direction: column;
    justify-content: center;
    padding:1rem;
    align-items: flex-start;
 
}
.output {
    width:100vw;
    display:grid;
    grid-template-columns: repeat(9,200px);

    margin-top:2rem;
}

#pos{
    color:red;
}
div {
    text-align: center;
    
}
.title {
    font-weight:900;
}
span {
    font-weight: bold;
    text-transform: uppercase;
    background:yellow;
}
.r {
    color:blue;
}
.k {
    color:red;
}
li {
    margin-bottom:5px 0;
}
.number-vil {
    color:red;
    background:yellow;
}
.duplicate {
    opacity: 0;
}
